@import url("../lib/bootstrap/css/bootstrap.css");

@import url("../lib/font-awesome/css/font-awesome.css");

@import url("../lib/codemirror/lib/codemirror.css");

@import url("../lib/codemirror/theme/solarized.css");

@import url("../lib/codemirror/theme/ambiance.css");

@import url("../lib/codemirror/theme/elegant.css");
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
* {
  outline: none !important;
}
#app {
  height: 100%;
}
#app #toolbar .nav.buttons {
  font-size: 16pt;
}
#app #toolbar .nav.buttons a {
  transition: color .5s;
}
#app #toolbar .nav.buttons .button-upload {
  color: #82db7e;
}
#app #toolbar .nav.buttons .button-upload:hover {
  color: #70f16b;
}
#app #toolbar ul.dropdown-menu {
  padding: 0;
  border-radius: 0;
}
#app #toolbar ul.dropdown-menu a {
  padding-top: 10px;
  padding-bottom: 10px;
}
#app #toolbar ul.dropdown-menu a:hover {
  background: #454545;
}
#app #toolbar ul.dropdown-menu .active a {
  background: #353535;
}
#app #container {
  padding-top: 50px;
  height: 100%;
  max-width: 100%;
}
#app #container .row {
  height: 100%;
  margin: 0;
}
#app #container .row > div {
  height: 100%;
  padding: 0;
}
#app #container #sidebar .sidebar-title {
  background: #3e3e3e;
  color: white;
  padding: 10px;
  font-weight: bold;
}
#app #container #sidebar .sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#app #container #sidebar .sidebar ul li {
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: background-color 0.5s;
  cursor: pointer;
}
#app #container #sidebar .sidebar ul li.sub {
  padding-left: 30px;
}
#app #container #sidebar .sidebar ul li:hover {
  background: #e0e0e0;
}
#app #container #code {
  height: 100%;
}
#app #container #code > div {
  height: 100%;
}
#app #container #code > div .CodeMirror {
  height: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
#app #container #code > div .CodeMirror .CodeMirror-scroll {
  padding-bottom: 0;
}
#app #serial-terminal {
  position: fixed;
  z-index: 899;
  bottom: -200px;
  left: 0;
  width: 100%;
  height: 240px;
  transition: 1s;
  background: white;
}
#app #serial-terminal.active {
  bottom: 0;
}
#app #serial-terminal .toggle {
  background: #cccccc;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  font-size: 110%;
  cursor: pointer;
  transition: .5s;
}
#app #serial-terminal .toggle:hover {
  background: #dddddd;
}
#app #serial-terminal .terminal .output {
  margin: 0;
  height: 170px;
  overflow: auto;
  line-height: 20px;
  padding-left: 20px;
}
#app #serial-terminal .terminal .input {
  padding-left: 20px;
  margin: 0;
  height: 30px;
  overflow: auto;
  line-height: 30px;
  background: #dddddd;
}
#app #serial-terminal .terminal .input-caret {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
