doctype 5
html
	head
		meta(charset="utf-8")
		title Arduino Web IDE
		link(rel="stylesheet", href="style/app.css")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js")
	body(ng-app)
		h1 Soon!

		script(src="script/app.js")