doctype 5
html
	head
		title Arduino Web IDE
		link(rel="stylesheet", href="style/app.less")
	body
		h1 Soon!

		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js")
		scruot(src="script/app.less")